/* Estilos gerais */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}

/* Estilos para o card */
.card {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: 0.3s;
	max-width: 350px;
	width: 100%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.card span {
	font-size: 16px;
	margin-bottom: 20px;
}

.card button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.3s;
}

.card button:hover {
	background-color: #3e8e41;
}

.card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.card {
		flex-direction: row;
		max-width: 800px;
		padding: 20px 40px;
		text-align: left;
		align-items: flex-start;
	}

	.card h3 {
		font-size: 32px;
		margin-bottom: 15px;
	}

	.card span {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.card button {
		font-size: 20px;
		padding: 15px 30px;
	}

	.card img {
		max-width: 300px;
		margin-bottom: 0;
		margin-right: 40px;
	}

	.card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card-container > * {
		flex: 1;
		margin: 10px;
	}
}

h1 {
	text-align: center;
	margin: 40px 0;
	font-size: 36px;
	font-weight: bold;
	color: #333;
	clear: both;
}
